---

TODOs - 
Change the KPIDevice to Parameter link to birectional link and make the .xmi file consistent accordingly

We create Project classes for each project - <project_name.java>
	For each infrastructure component - <infrastructure_component.java>
		Associate the project with a category - specified in the JSON
		Within class definition of each type of component, we should have some property, information that is not captured by the metamodel. 
		Functional part of infrastructure component involves producing a data value - so connect the JSON file using a datasource to the InfrastructureComponent
		
	
	For each KPIMeasurementDevice - 
		Each device needs to be connected to the JSON file using a dataloader and then it checks at intervals to execute the aggregation of the parameter.
		Get the aggregated value and grv from the parameter
		Write logic to set the status of the KPI device based on the aggr. value and grv. and also update the dates for next calculation and last calculation
		
	
	How does each trigger for aggregation look like - 	
	Parameter object needs to 
		1. take all the data values of the corresponding infrastructure component with collected = false
		2. Set the collected flag to true
		3. Delete the collected data values
		4. Aggregate the data values based on the aggregator
		5. Return the aggregated value and grv to the KPI device
		